body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    /* Дайте свойству высоту относительное значение равное высоте видимого экрана*/
    background-color: #f4f4f9;
    margin: 0 auto; /*Обнулите встроенные внешние отступы */ 
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    /*Округлите края калькулятора на 10px*/
    overflow: hidden;
    width: 300px;
}

#display {
    background-color: #333;
    color: #fff;
    font-size: 2em;
    padding: 20px;
    text-align: right;
    /*Выровните текст по правому краю*/
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    /*Задайте внутренние отсупы для кнопки 20px*/
    font-size: 1.5em;
    cursor: pointer;
    /*Задайте курсору тип указатель*/
}

.btn:active {
    background-color: #ddd;
}
